body {
  margin: 0;
 
}

#Nav {
  display: flex;
  background-color: rgb(171, 50, 50);

  height: fit-content;
  color: white;
  padding: 10px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
#nav-container {
  display: flex;
  justify-content: space-between;

  margin-right: 5%;
}
#logo {
  align-items: left;
  margin: 5px;
  width: 60%;
}
#nav-lisnks {
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
a:hover{
    color: maroon;
    transition: color 1s ease;

}
/*main*/
#Main{
   width: 70%;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   margin: 4rem auto;
   color: grey;
}
#Header-span{
    color: rgb(171, 50, 50);

}
#MainBtn{
    background-color: rgb(171, 50, 50);
    border-radius: 5px;
    color: white;
 
    width: 10rem;
    height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
#MainBtn:hover{
    background-color: maroon;
    transition: color 1s ease;

}
  /*footer*/
#foter{
   position: absolute;
  background-color: rgb(171, 50, 50);
  width: 100%; 
  bottom: 0;
  height: 3rem;
  color: white;
  padding: 1.2rem;
}